{% extends "base.html" %}

{%- block title %}{{ super() }} - FAQ{% endblock -%}

{%- block content -%}
<h2>Ответы на часто задаваемые вопросы</h2>

<h3>Зачем всё это?</h3>
<p>RSS-ленты позволяют автоматически загружать контент, появляющийся на
    трекере.</p>

<h3>Как часто обновляются RSS-ленты?</h3>
<p>Примерно раз в 10 минут</p>

<h3>Остались вопросы?</h3>
<p>Если вы не нашли ответа на свой вопрос в этом списке, можно <a href="#"
                                                                  class="fblink">связаться
    с нами</a>.</p>

{%- endblock -%}
