{% extends "base.html" %}

{% block head %}
{{ super() }}

{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-6">
        <div id="feedform" data-spy="affix" data-offset-top="2">
            <h2></h2>

            <p>

            </p>
        </div>
    </div>

    <div id="category_chooser" class="col-lg-6">
        <h4 class="text-muted">Выбор раздела</h4>

        <div id="treeview"></div>
    </div>


</div>

{% endblock %}

{% block foot %}
{{ super() }}
<script src="{{ url_for('views.loadtree') }}"></script>
<script src="{{ url_for('static', filename='bootstrap-treeview.js') }}"></script>
<script>
$(function() {
    var feedformWidth = $('#category_chooser').width() - parseInt($('#feedform').css('paddingLeft')) - parseInt($('#feedform').css('paddingRight'));
    $('#feedform').css('width', feedformWidth);

    $('#treeview').treeview({
          enableLinks: false,
          showTags: true,
          data: treeData,
          levels: 2,
          showBorder: false,
          expandIcon: 'glyphicon glyphicon-chevron-right',
          collapseIcon: 'glyphicon glyphicon-chevron-down',
          emptyIcon: 'fa fa-file-o',
          nodeIcon: 'glyphicon' /* glyphicon-copy */
    });

    $('#treeview').on('nodeSelected', function(event, node) {
        //console.log(event, node);
    });
});

</script>
{% endblock %}
